* {
    box-sizing: border-box;
}

body {
    max-width: 1950px;
    background: #e5e5e5;
    margin: 100px auto;
    padding: 0 15px;
    color: #fff;
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 64px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    background-color: #c4c4c4;
}

.bgcont {
    padding: 25px 50px; 
    background-color: #c4c4c4;
    max-width: 1100px;
}

.paddingcont {
    overflow: hidden;
    background-color: #e6e6e6;
}

.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #e6e6e6;
    overflow: hidden;
}

.boxleft1 {
    width: 200px;
    min-height: 200px;
    background-color: #fc8f8f;   
    float: left;
}

.boxright1 {
    width: 200px;
    min-height: 200px;
    background-color: #fc8f8f;
    float: right;
}

.text1 {
    width: 200px;
    min-height: 75px;
    margin: 0 auto;
    padding-top: 63px;
    text-align: center;
    
}

.menu1 {
        margin: 0;
        padding: 0;
        list-style: none;
        float: left;
}

.menu2 {
        margin: 0;
        padding: 0;
        list-style: none;
        float: right;
}



.boxleft2 {
    width: 200px;
    min-height: 200px;
    background-color: #fc8f8f;
    display: inline-block;
}

.boxright2 {
    margin: 0;
    width: 100px;
    min-height: 100px;
    background-color: #fc8f8f;
    display: inline-block;
}

.text2 {
    margin: 0;
    padding-top: 31px;
    max-width: 100px;
    min-height: 37.5px;
    text-align: center;
    font-size: 36px;
}

.menu2  :nth-child(n+2){
    margin-left: 15px;
}

.menu3 {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
}

.menu4 {
    margin: 0;
    padding: 0;
    list-style: none; 
    float: right;
}

.boxleft3, .boxright3 {
    display: inline-block;
    width: 200px;
    min-height: 200px;
    background-color: #fc8f8f;
}

.menu3 :nth-child(even) {
    margin-left: 15px;
}

.menu4 :nth-child(even) {
    margin-left: 15px;
}
